<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmls="http://www.w3.org/1999/xhtml">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
    </head>
    <body>
        
        <header th:frangment="header" class="header">
            
            <a th:href="@{/}"class="logo nav-limk">Tonnexy5hop</a>
        </header>
        
        
        <footer th:frangment="footer" class="footer">
            
            <p>
                
                @Copy Derechos Reservados 2022
            </p>
        </footer>
        
    </body>
</html>
