 h2{

                background-color: gray;
                color: black;
            }

            .articulo{

                background-color: bisque;
                font-family: sans-serif;
                color: black
            }
            
            .articulo2{

                background-color: skyblue;
                font-family: sans-serif;
                color: black
            }
            
            .articulo3{

                background-color: plum;
                font-family: sans-serif;
                color: black
            }

            body{
                background-image: url('../Imagenes/e2e33207-d8a0-46fd-869c-10b4cd947dcf.jpg');
                background-repeat: no-repeat;
                background-position-x: center;
            }
            
            a:hover{
                background-color: var;
                color: red;
            }
            
            a{
                background-color: white;
                    color: black;
            }